.stats-panel {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: white;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    z-index: 3
  } 
  
  .stats-panel.empty {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sidebyside-graph-container {
    display: flex;
    justify-content: space-between;
    height: 200px;
  }
